* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

header {
    height: 100vh;
}

.menu {
    background-color: rgb(245, 235, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}

#logo {
    display: flex;
    width: 100px;
    justify-content: center;
}

#logo img{
    width: 70px;
}

#menu-list {
    display: flex;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}

.li-menu a{
    text-decoration: none;
    color: black;

}

#initial-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
    background-color: rgb(245, 235, 220);
    font-weight: 900;
}

#initial-page h1 {
    font-weight: 900;
    padding-right: 110px;
}
#initial-page img {
    width: 50%;
}

main{
    height: fit-content;
}
#title-page{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-bottom: 1px solid black;
}

#filter-button {
    height: 50px;
    width: 300px;
    background-color: rgb(245, 235, 220);

}
#meat-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#title-meat, #title-special, #title-vegetarian, #title-dessert{
    padding-left: 40px;
    margin-bottom: 40px;
}

.meat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxMeat {
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    box-shadow: 10px 5px 5px black;
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxMeat img {
    max-width: 100%;

}

#special-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.special-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxSpecial {
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    box-shadow: 10px 5px 5px black;
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxSpecial img {
    max-width: 100%;
}

#vegetarian-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.vegetarian-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxVegetarian {
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    box-shadow: 10px 5px 5px black;
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxVegetarian img {
    max-width: 100%;
}

#dessert{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.dessert-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
    padding-bottom: 50px;
}

.boxDessert {
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    box-shadow: 10px 5px 5px black;
    background-color: rgb(245, 235, 220);
    text-align: center;

}

.boxDessert img {
    max-width: 100%;
}

.carousel-item img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: aqua;

}

#list-filter {
    position: absolute;
    width: 300px;
    background-color: aqua;
    padding: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
    background-color: black;
}

#apply {
    font-size: 15px;
    width: 100px;
    position: absolute;
    top: 90%;
    border-radius: 15px;
    background-color: rgb(245, 235, 220);
}

#viewMeat{
    display: none;
}
#viewSpecial{
    display: none;
}
#viewVegetarian{
    display: none;
}
#viewDessert{
    display: none;
}

#price-m1, #price-m2, #price-m3, #price-m4 {
    position: static;
    border-top: 1px black solid;
    width: 300px;
    background-color: rgb(245, 235, 220);
    cursor: pointer;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#price-s1, #price-s2, #price-s3, #price-s4 {
    position: static;
    border-top: 1px black solid;
    width: 300px;
    background-color: rgb(245, 235, 220);
    cursor: pointer;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#price-v1, #price-v2, #price-v3, #price-v4 {
    position: static;
    border-top: 1px black solid;
    width: 300px;
    background-color: rgb(245, 235, 220);
    cursor: pointer;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#price-d1, #price-d2, #price-d3, #price-d4 {
    position: static;
    border-top: 1px black solid;
    width: 300px;
    background-color: rgb(245, 235, 220);
    cursor: pointer;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icon-buy {
    position: absolute;
    top: 85%;
    right: 2%;
    background-color: black;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
}

#icon-buy i {
    cursor: pointer;
    color: white;
}

#local-buy {
    display: none;
    flex-direction: column;
    position: absolute;
    position: fixed;
    right: 0%;
    background-color: white;
    border: 5px solid black;
    height: 100vh;
    width: 500px;
}

#close-cart{
    cursor: pointer;
}

.title-buy{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 235, 220);
    align-items: center;
    height: 7.5vh;
}

.title-buy h1, i {
    font-size: 30px;
    padding: 0 20px;
}

#list-buy {
    height: 85vh;
    overflow: auto;
}

.total-buy{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 235, 220);
    align-items: center;
    height: 7.5vh;
}

.total-buy h1, i {
    font-size: 30px;
    padding: 0 20px;
}

.buy-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
    border-bottom: 1px solid black;
}

#box-buy1 img {
    max-width: 100%;
}


#price-m1 i, #price-m2 i, #price-m3 i, #price-m4 i,#price-s1 i, #price-s2 i, #price-s3 i, #price-s4 i,
#price-v1 i, #price-v2 i, #price-v3 i, #price-v4 i,#price-d1 i, #price-d2 i, #price-d3 i, #price-d4 i{
    padding: 0;
}
#price-m1 i:hover, #price-m2 i:hover, #price-m3 i:hover, #price-m4 i:hover,#price-s1 i:hover, #price-s2 i:hover, #price-s3 i:hover, #price-s4 i:hover,
#price-v1 i:hover, #price-v2 i:hover, #price-v3 i:hover, #price-v4 i:hover,#price-d1 i:hover, #price-d2 i:hover, #price-d3 i:hover, #price-d4 i:hover{
    color: blue;
    box-shadow: 2px 2px 2px black;
}

#edit {
    position: absolute;
    top: 73%;
    right: 2%;
    background-color: black;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
}

#edit i {
    cursor: pointer;
    color: white;
}