* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

header {
    height: 100vh;
}

.menu {
    background-color: rgb(245, 235, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}

#logo {
    display: flex;
    width: 100px;
    justify-content: center;
}

#logo img{
    width: 70px;
}

#menu-list {
    display: flex;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}

.li-menu a{
    text-decoration: none;
    color: black;

}

#initial-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: rgb(245, 235, 220);
}

main{
    height: fit-content;
}
#title-page{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-bottom: 1px solid black;
}

#filter-button {
    height: 50px;
    width: 300px;
    background-color: rgb(245, 235, 220);

}
#meat-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#title-meat, #title-special, #title-vegetarian, #title-dessert{
    padding-left: 40px;
    margin-bottom: 40px;
}

.meat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxMeat {
    display: grid;
    place-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(20px 20px 20px black);
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxMeat img {
    max-width: 100%;

}

#special-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.special-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxSpecial {
    display: grid;
    place-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(20px 20px 20px black);
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxSpecial img {
    max-width: 100%;
}

#vegetarian-burg{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.vegetarian-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
}

.boxVegetarian {
    display: grid;
    place-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(20px 20px 20px black);
    background-color: rgb(245, 235, 220);
    text-align: center;
}

.boxVegetarian img {
    max-width: 100%;
}

#dessert{
    border-bottom: 1px solid black;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.dessert-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0;
    padding-bottom: 50px;
}

.boxDessert {
    display: grid;
    place-items: center;
    width: 300px;
    height: 300px;
    filter: drop-shadow(20px 20px 20px black);
    background-color: rgb(245, 235, 220);
    text-align: center;

}

.boxDessert img {
    max-width: 100%;
}

.carousel-item img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: aqua;

}

#list-filter {
    position: absolute;
    width: 300px;
    background-color: aqua;
    padding: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
    background-color: black;
}

#apply {
    font-size: 15px;
    width: 100px;
    position: absolute;
    top: 90%;
    border-radius: 15px;
    background-color: rgb(245, 235, 220);
}

#viewMeat{
    display: none;
}
#viewSpecial{
    display: none;
}
#viewVegetarian{
    display: none;
}
#viewDessert{
    display: none;
}